<div></div>

{% schema %}
{
  "name": "animated-slider",
  "settings": [
    {
      "type":"text",
      "label":"text_pc",
      "id":"textgoc"
    },{
      "type":"image_picker",
      "label":"urlimg",
      "id":"urlimg"
    }
  ],
  "presets": [
    {
      "name": "t:sections.animated-slider.presets.name"
    }
  ]
}
{% endschema %}